# DO NOT USE DOUBLE QUOTES
RUNNER_NAME=arm64x-gcp-4x-16GB-120GB
# [admin:org] :: repo (all) || read:public_key (on admin:public_key) || read:repo_hook (on admin:repo_hook) || admin:org_hook || notifications || workflow
GITHUB_PERSONAL_TOKEN=ghp_token_abcd_xyz
GITHUB_OWNER=Azathothas
#leave empty if for entire org
GITHUB_REPOSITORY=Toolpacks
RUNNER_LABELS=arm64x-gcp-4x-16GB-120GB,arm64x-gcp-4x-16GB-120GB-builder